@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  width: 1903px;
  height: 2810px;
  font-family: 'PT Serif', serif;
}

a,h1,h2 {
  color: #868d94;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #33455a;
    background-color: #0c1f36;
  }
}

.sidebar_com {
  background-color: #0b1828;
}

.icon_transform:hover{
  background: url('/img/images.png')no-repeat;


width: 70px;
height: 80px;


}

.icon {
  @apply hover:scale-125 transition-all duration-150 ease-out fill-red-500;
}

.img_artist {
  @apply hover:scale-125 hover:opacity-75 duration-700  ;
}

.search_com {
  margin-left: 80px;
  width: 500px;
  height: 60px;
  background: #172533;
}

.btn_auth {
  background-image: -webkit-linear-gradient( -57deg, rgb(255, 85, 62) 0%, rgb(255, 0, 101) 100%);
  cursor: pointer;
position: relative;
bottom: 50px;

}

.h4_line {
  display: flex;
  justify-content: space-between;
}